/* Globales -------------------------------------------------- */
html {
  background-color: #000;
  color: #cacaca;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.5em;
}
* {
  text-align: justify;
  margin: 0;
  padding: 0;
  /* necesario para la galeria */
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #cacaca;
  font-weight: 600;
}
/* nav-bar */
.bar-nav {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}
.bar-nav a {
  margin: 2px;
  padding: 15px;
}
section {
  margin-top: 100px;
}
h2 {
  font-size: 250%;
  margin-left: 40px;
}
p {
  font-weight: 600;
}
.description-container {
  width: 70%;
  margin-left: 120px;
  margin-top: 30px;
  font-weight: 600;
}
/* necesario para la galeria */
img {
  vertical-align: middle;    
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 40px auto;
  margin-bottom: 80px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #cacaca;
  font-size: 15px;
  padding: 8px 12px;
  background-color: #000;
  position: absolute;
  top: 0;
  opacity: 60%;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #000;
  padding: 2px 16px;
  color: #cacaca;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*---------------------------*/
