/* Globales -------------------------------------------------- */
html {
    background-color: #000;
    color: #cacaca;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5em;
}
* {
    text-align: justify;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;    
    color: #cacaca;
    font-weight: 600;
}
/* nav-bar */
.bar-nav {
    display: flex;    
    margin-top: 30px;
    margin-left: 30px;
}
.bar-nav a {
    margin: 2px;
    padding: 15px;
}
/* projects section */
.projects {
    margin-top: 100px;
}
h2 {    
    font-size: 250%;
    margin-left: 40px;  
}
p {
    font-weight: 600;
}
.description-container {
    width: 70%;
    margin-left:120px;
    margin-top: 30px;
    font-weight: 600;
}
.repo-container {
    width: 50%;
    margin: 0 auto;
}
.repo-container a {    
    margin-left: 180px;
}
